<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Spitter</title>
	<link rel="stylesheet" href="/libs/skeleton/css/normalize.css">
	<link rel="stylesheet" href="/libs/skeleton/css/skeleton.css">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	

	<script> var USER = <%- JSON.stringify(user) %></script>
	<script src="/main.js"></script>
</body>
</html>